.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  border: 5px solid black;

  .tile__image {
    padding-top: 2rem;
    max-height: 50%;
    max-width: 50%;
  }
  .tile__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .tile__title {
    font-size: 1.2rem;
    text-align: center;
  }

  .tile__text {
    color: black;
  }
}
