@use "./assets/sass/reset";

.page {
  display: flex;

  justify-content: flex-start;
  align-items: flex-start;
}

.page-heading {
  text-align: center;
  font-size: 2.5rem;
}

.tile-container {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem;
  justify-items: center;
}

.side-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin: 0;
  padding-left: 1rem;
  padding-top: 0.2rem;
  background-color: #ffffff;
}

.side-nav__image {
  width: 175px;
  height: 175px;
}
